$baseFontSize: 16px;

$robotoFont: 'Roboto', sans-serif;
$oswaldFont : 'Oswald', sans-serif;

$orange: #EC5118;
$white: #fff;
$superLight: #FCFCFC;
$superLight40:rgba(252, 252, 252, 0.4);
$light: #E6E8EA;
$lightGray: #A7AEB4;
$otherGray: #7E8386;
$gray: #626F77;
$darkGrey: #45545E;
$dark: #061B28;