@import '../base/index.scss';

.help-form {
    font-family: $robotoFont;
    font-weight: 400;
    font-size: rem(14px);
    color: $superLight;
    line-height: 1.4;
    &__div{
        margin-bottom: 20px;
    }
    input {
        width: 100%;
        padding: 5px;
        border: none;
        border-bottom: 1px solid $otherGray;
        background-color: transparent;
        color: inherit;
        letter-spacing: 0.05rem;
        &::placeholder {
            font-size: rem(12px);
            color: $otherGray;
            letter-spacing: 0;
        }
    }
}

@media only screen and (min-width: 1024px) {
    .help-form {
        font-size: rem(18px);
        &__div:last-of-type{
            margin-bottom: 45px;
        }
        input {
            width: 100%;
            padding: 15px 5px;
            &::placeholder {
                font-size: rem(16px);
            }
        }
    }
}