@import '../base/index.scss';

.list {
    width: 100%;
    padding: 50px;
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .title{
        text-align: center;
        color: $superLight;
        margin-bottom: 15px;
    }
    .text{
        color: $superLight;
        line-height: 1.4;
        text-align: center;
        max-width: 240px;
        margin-bottom: 30px;
    }
    .table{
        margin-bottom: 25px;
    }
}

@media only screen and (min-width: 768px) {
    .list {
        padding: 70px;
        .title{
            margin-bottom: 20px;
        }
        .text{
            margin-bottom: 40px;
        }
        .table{
            margin-bottom: 35px;
        }
    }
}

@media only screen and (min-width: 1024px) {
    .list {
        padding: 100px;
        .title{
            margin-bottom: 25px;
        }
        .text{
            margin-bottom: 60px;
        }
        .table{
            margin-bottom: 50px;
        }
    }
}