@import '../base/index.scss';

.title-little {
    font-family: $robotoFont;
    font-weight: 400;
    font-size: rem(14px);
    line-height: 1.4;
    color: $dark;
    @media only screen and (min-width: 768px) {
        font-size: rem(16px);
    }
    @media only screen and (min-width: 1024px) {
        font-size: rem(18px);
    }
}